<div class="right_col" role="main">
    <div class="">

        <div class="page-title">
            <div class="title_left">
                <h3>Report</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Edit</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <flash-message></flash-message>
                        <div class="alert alert-success alert-dismissible fade in" role="alert" *ngIf="success">
                            <button type="button" class="close" (click)="closeAlert()" aria-label="Close"><span aria-hidden="true">×</span>
                            </button>
                            {{success}}
                        </div>
                        <div class="alert alert-info alert-dismissible fade in" role="alert" *ngIf="info">
                            <button type="button" class="close" (click)="closeAlert()" aria-label="Close"><span aria-hidden="true">×</span>
                            </button>
                            {{info}}
                        </div>
                        <div class="alert alert-warning alert-dismissible fade in" role="alert" *ngIf="warning">
                            <button type="button" class="close" (click)="closeAlert()" aria-label="Close"><span aria-hidden="true">×</span>
                            </button>
                            {{warning}}
                        </div>
                        <div class="alert alert-danger alert-dismissible fade in" role="alert" *ngIf="danger">
                            <button type="button" class="close" (click)="closeAlert()" aria-label="Close"><span aria-hidden="true">×</span>
                            </button>
                            {{danger}}
                        </div>
                        <br />
                        <form id="report-form" data-parsley-validate class="form-horizontal form-label-left">

                            <div class="item form-group" [class.bad]="!report.isDateValid()">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="report-date">Date <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="report-date" name="report.date" [(ngModel)]="report.date" required="required" class="form-control has-feedback-left" placeholder="Date" aria-describedby="inputSuccess2Status4">
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    <span id="inputSuccess2Status4" class="sr-only">(success)</span>
                                </div>
                                <div class="alert">Please correct</div>
                            </div>
                            <div class="item form-group" [class.bad]="!report.isTotalValid()">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="report-total">Total <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="report-total" name="report.total" [(ngModel)]="report.total" required="required" class="form-control col-md-7 col-xs-12 has-feedback-left">
                                    <span class="fa fa-eur form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                <div class="alert">Please correct</div>
                            </div>
                            <div class="item form-group" [class.bad]="!report.isCashValid()">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="report-cash">Cash <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="report-cash" name="report.cash" [(ngModel)]="report.cash" required="required" class="form-control col-md-7 col-xs-12 has-feedback-left">
                                    <span class="fa fa-eur form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                <div class="alert">Please correct</div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="report-extra">Extra
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="report-extra" name="report.extra" disabled class="form-control col-md-7 col-xs-12 has-feedback-left" [value]="report.extra()">
                                    <span class="fa fa-eur form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="item form-group" [class.bad]="!report.isNoteValid()">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="report-note">Note
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea class="form-control" rows="3" placeholder="Additional notes" id="report-note" name="report.note" [(ngModel)]="report.note"></textarea>
                                </div>
                                <div class="alert">Please correct</div>
                            </div>

                            <div class="form-group" *ngIf="!report.hasExpenses()">
                                <div class="col-md-9 col-md-offset-3">
                                    <a class="btn btn-success" data-toggle="modal" data-target="#expenseModal" (click)="emptyExpense()"><i class="fa fa-plus"></i> Add expense</a>
                                </div>
                            </div>

                            <div class="ln_solid" *ngIf="!report.hasExpenses()"></div>

                            <div *ngIf="report.hasExpenses()" style="margin-top: 40px">
                                <div class="x_title">
                                    <h2>Expenses</h2>
                                    <div class="clearfix"></div>
                                </div>

                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Amount</th>
                                        <th>Invoice</th>
                                        <th>Description</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let obj of report.expenses; let i = index">
                                        <td>&euro; {{ obj.amount }}</td>
                                        <td>{{ obj.hasInvoice ? "Yes" : "No" }}</td>
                                        <td>{{ obj.description }}</td>
                                        <td style="text-align: right;">
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#expenseModal" (click)="setCurrentExpense(i)"><i class="fa fa-pencil"></i> Edit</button>
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" (click)="setExpenseToDelete(i)"><i class="fa fa-times"></i> Delete</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="form-group">
                                    <div class="col-md-9 col-md-offset-3">
                                        <a class="btn btn-success" data-toggle="modal" data-target="#expenseModal" (click)="emptyExpense()"><i class="fa fa-plus"></i> Add expense</a>
                                    </div>
                                </div>

                                <div class="ln_solid"></div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-3">
                                    <a class="btn btn-primary" [href]="['/reports/list']">Cancel</a>
                                    <button type="submit" class="btn btn-success" [disabled]="!report.isValid()" (click)="saveReport()">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="expenseModal" tabindex="-1" role="dialog" aria-labelledby="expenseModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Expense</h4>
            </div>
            <div class="modal-body">

                <form id="expense-form" data-parsley-validate class="form-horizontal form-label-left">

                    <div class="item form-group" [class.bad]="!expense.isAmountValid()">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="expense-amount">Amount <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" id="expense-amount" name="expense.amount" [(ngModel)]="expense.amount" required="required" class="form-control col-md-7 col-xs-12 has-feedback-left">
                            <span class="fa fa-eur form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="expense-hasInvoice">Has invoice
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="checkbox" id="expense-hasInvoice" name="expense.hasInvoice" [(ngModel)]="expense.hasInvoice" style="box-shadow:none;" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="expense-description">Description
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" id="expense-description" name="expense.description" [(ngModel)]="expense.description" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="expense-note">Note
                        </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <textarea class="form-control" rows="3" placeholder="Additional notes" id="expense-note" name="expense.note" [(ngModel)]="expense.note"></textarea>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addExpense()">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete expense</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete it?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="unsetExpenseToDelete()">No</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteExpense(expenseToDelete)">Yes</button>
            </div>
        </div>
    </div>
</div>