<div class="right_col" role="main" style="min-height: 3085px;">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>
                    Reports
                </h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>List</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30">
                            Use the headers of the table to sort by column content. You can increase the number of results using the following drop down.
                        </p>
                        <div id="datatable-responsive_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer"><div class="row"><div class="col-sm-6"><div class="dataTables_length" id="datatable-responsive_length"><label>Show <select name="datatable-responsive_length" aria-controls="datatable-responsive" class="form-control input-sm" [(ngModel)]="pagination.limit" (change)="getReports()"><option [value]="r" *ngFor="let r of pagination.getResultsPerPage()">{{r}}</option></select> entries</label></div></div><div class="col-sm-6"><div id="datatable-responsive_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="datatable-responsive"></label></div></div></div><div class="row"><div class="col-sm-12"><table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="datatable-responsive_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th [class]="classForColumn('date')" style="cursor:pointer;" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" (click)="changeSorting('date')">Date</th>
                                    <th [class]="classForColumn('total')" style="cursor:pointer;" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" (click)="changeSorting('total')">Total</th>
                                    <th [class]="classForColumn('cash')" style="cursor:pointer;" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" (click)="changeSorting('cash')">Cash</th>
                                    <th [class]="classForColumn('extra')" style="cursor:pointer;" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" (click)="changeSorting('extra')">Extra</th>
                                    <th [class]="classForColumn('note')" style="cursor:pointer;" tabindex="0" aria-controls="datatable-responsive" rowspan="1" colspan="1" (click)="changeSorting('note')">Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" *ngFor="let report of reports">
                                    <td>{{ report.date }}</td>
                                    <td>{{ report.total }}</td>
                                    <td>{{ report.cash }}</td>
                                    <td>{{ report.extra() }}</td>
                                    <td>{{ report.note }}</td>
                                </tr>
                            </tbody>
                        </table></div></div><div class="row"><div class="col-sm-5"><div class="dataTables_info" id="datatable-responsive_info" role="status" aria-live="polite">Showing {{pagination.startingItem()}} to {{pagination.endingItem()}} of {{pagination.maxRecords()}} entries</div></div><div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="datatable-responsive_paginate">
                            <ul class="pagination">
                                <li class="paginate_button previous" [class.disabled]="!pagination.previousAllowed()" id="datatable-responsive_previous"><a (click)="changePage(pagination.page-1)" [class.disabled]="!pagination.previousAllowed()" tabindex="0">Previous</a></li>
                                <li class="paginate_button" [class.active]="pagination.isCurrentPage(p)" *ngFor="let p of pagination.maxPages() | range"><a (click)="changePage(p)" [class.disabled]="pagination.isCurrentPage(p)" aria-controls="datatable-responsive" tabindex="0">{{p+1}}</a></li>
                                <li class="paginate_button next" [class.disabled]="!pagination.nextAllowed()" id="datatable-responsive_next"><a (click)="changePage(pagination.page+1)" [class.disabled]="!pagination.nextAllowed()" aria-controls="datatable-responsive" data-dt-idx="7" tabindex="0">Next</a></li>
                            </ul></div></div></div></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>